/* ************************************
					FONTS
************************************ */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j630ba');
  src:  url('../fonts/icomoon.eot?j630ba#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j630ba') format('truetype'),
    url('../fonts/icomoon.woff?j630ba') format('woff'),
    url('../fonts/icomoon.svg?j630ba#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\ea32";
}
.icon-right:before {
  content: "\ea42";
}
.icon-left:before {
  content: "\ea44";
}

/****************** MAIN *******************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.8em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

header, footer {
  padding: 0.5rem calc( (100% - 1024px) / 2);
  background: black;
  color: white;
}

header a,
footer a {
  color: #ddd;
  text-decoration: none;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 1rem;
}

footer p {
  margin: 0;
}

footer p:nth-child(3) {
  grid-column: 1/ span 2;
  justify-self: center;
}

.top {
  position: absolute;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  left: calc(50% - 2em);
  top: -2em;
  background-color: black;
}

.banner {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 1rem 1em;
}

.banner-nav a {
  margin: 0 0.8em;
  border-bottom: solid 5px transparent;
}

.banner-nav a:hover {
  border-bottom: solid 5px blue;
}

.site-logo {
  grid-column: 1;
  grid-row: 1;
}

.site-description {
  margin: 0;
  grid-column: 1;
  grid-row: 2;
}

.banner-nav {
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-self: end;
}

/* SLIDER */

.slider {
  position: relative;
  max-width: 1024px;
  margin: auto;
}

.slider-figure {
  display: none;
}

.slider-figure.is-active {
  position: relative;
  display: block;
  margin: 0;
  padding: 1rem;
  border: solid  1px black;
}

.slider-legend {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  font-size: 5vmin;
}

.slider-nav {
  position: absolute;
  left: calc(1rem + 1px);
  right: calc(1rem + 1px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

[rel=prev],
[rel=next] {
  display: inline-block;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 5vmin;
  text-decoration: none;
  line-height: 0;
}

/********************* pagination**********************/
.slider-pagination {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
}

.slider-pagination-item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: black solid 1px;
  background-color: rgb(255, 255, 255);
  margin: 0 0.5em;
  padding: 2px;
  background-clip: content-box;
}

.slider-pagination-item.is-active {
  background-color: rgb(255, 0, 0);
}
