* {
  box-sizing : border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin : 0;
  background: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
}

main {
  padding: 0 0em;
}

a {
  color : orange;
}

strong {
  font-weight : 600;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Courgette', cursive;
  font-weight: 400;
}

h1,.h1,
h2,.h2 {
  text-align: center;
}

h2, .h2 {
  font-size : 2.2em;
}

h3, .h3 {
  font-size : 1.5em;
  text-align: left;
}

.h2::before,
.h2::after {
  content : ' - ';
  color : orange;
}

section {
  padding : 3em 0;
}

.section-article {
  display: inline-block;
  margin : 1em 1em;
  padding : 0;
  border : 2px solid #000;
  background-color: white;
  border-radius: 1rem;
  min-height: 450px;
  max-width: calc(100% / 3 - 2em);
  overflow: hidden;
}

.cta {
  background: brown;
  padding: 0.6rem;
  border: 1px black solid;
  margin: 1rem;
  min-width: 100%;
}

@media screen and (min-width: 1024px) {
  header h3 {
    margin: 0.5em;
  }

  header img {
    border-radius: 0.5em 0.5em 0 0;
  }

  .container {
    max-width : 1150px;
    margin : 0 auto;
    padding-right : 1em;
    padding-left : 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container h2 {
    flex-basis: 100%;
  }
  
  .container article {
    width: calc(100% / 3 - 2%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    background: red;
    text-decoration: none;
    padding: 0.5em;
    font-size: 0.8em;
  }

  .button::after {
    content: "->";
  }

  .description {
    margin: 0.5em;
  }
}