.banner {
  padding : 1rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4000;
}

.logged-in .banner {
  top: 32px;
}

.banner a {
  text-decoration: none;
  color : rgb(255, 255, 255);
}

.site-logo {
  display: inline-block;
  padding : 1rem;
  border : 3px solid white;
  font-size : 1.5em;
}

.banner .site-logo {
  color: white;
}

.banner-nav {
  display: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  margin: 0;
  padding: 0;

}

.banner nav a {
  display: block;
  padding : 1rem;
  text-transform: uppercase;
  transition: all 250ms ease;
}

.banner nav a:hover,
.banner nav a:focus,
.banner nav a:active {
  background : orange;
  color : white;
  transform: scale(1.2) rotate(180deg);
}

.banner nav a.active {
  background : orangeRed;
  color : white;
}

@media screen and (min-width: 1024px) {

  .banner-nav {
    display: flex;
    align-items: center;
  }

  .banner {
    display: flex;
    justify-content: space-around;
  }

  .menu {
    display: flex;
  }
}