.home {
  background-color : black;
  background-image : url('../../img/mediterranean-cuisine_768.jpg');
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size : cover;
}

@media screen and (min-width: 769px) {
  .home {
    background-image : url('../../img/mediterranean-cuisine_1024.jpg');
  }
}

@media screen and (min-width: 1025px) {
  .home {
    background-image : url('../../img/mediterranean-cuisine_1920.jpg');
  }

  .banner {
    background: linear-gradient(135deg, transparent 50%, white 50%),
    url('../../img/mediterranean-cuisine_1920.jpg');
    background-size: cover;
  }
}

.bg-light {
  background: linear-gradient(rgb(255,255,255,0.8), transparent);
}

.bg-dark {
  background: linear-gradient(#fff, rgb(255,255,255,0.8));
}

@media screen and (min-width: 1024px) {

  .container-thumbnail {
    display: block;
    overflow: hidden;
    background: #653216;
    border-radius: 0.5em 0.5em 0 0;
  }

  .container-thumbnail img {
    filter: grayscale(80%);
    opacity: 0.8;
    transition: all 500ms linear;
  }

  .container-thumbnail:hover img,
  .container-thumbnail:focus img {
    transform: scale(1.2);
    transition: all 500ms linear;
    filter: none;
    opacity: 1;
  }
}