/* ******************************************
              Styles généraux
********************************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin : 0;
  background-color : rgb(129, 113, 113);
  font-family: 'raleway', 'courgette', sans-serif;
  font-size: 1.6em;
}

header p {
  font-family: 'raleway', sans-serif;
  background-color: rgb(255, 102, 0);
  display: inline-block;
  font-size: xx-large;
  margin: 0;
}

a {
  color : rgb(0, 0, 0);
}

nav a:hover {
  background-color: rgba(255, 127, 80, 0.35);
  border-bottom: solid 3px coral;
}


strong {
  font-weight: 600;
}

/* *************** Titres ***************** */

h1,h2,h3,h4,h5,h6 {
  font-family: 'courgette', cursive;
  font-weight: normal;
}

h1, .h1,
h2, .h2{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 3em;
  text-shadow: none;
}

h1 {
  text-align: center;
  color: bisque;
  font-size: 3em;
  text-shadow: 4px 3px 2px rgba(0,0,0,0.4), 4px 3px 2px rgba(0,0,0,0.4);
  margin: 0;
}

h2 {
  color: black;
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.5em;
  text-align: left;
}



/* Sélecteur de pseudo-élément -> insérer du contenu en CSS (insérer un pseudo-élément) */
.h2:before,
.h2:after {
  /* Quel contenu ? : un tiret qui va s'afficher avant et après le titre */
  content : ' - ';
  /* On peut appliquer n'importe quel style à ce pseudo élément */
  color : orange;
}

/*h3:before,
h3:after {
  content : ' - ';
  color : orange;
}*/

h2:before,
h2:after {
  /* Quel contenu ? : un tiret qui va s'afficher avant et après le titre */
  content : ' - ';
  /* On peut appliquer n'importe quel style à ce pseudo élément */
  color : orange;
}


nav {
  /* Si la nav ne réagit plus comme un bloc, elle se place à côté du logo ! */
  /*display: inline-block;*/
  float: right;
}

nav a {
  margin: 0 1em;
}

section {
  padding : 4em 0;
}

article {
  padding : 1em;
  border: solid 1px rgb(0, 0, 0);
  background-color: white;
  border-radius: 0.5rem;
}


footer {
  padding : 1em;
  background-color: black;
  color : aliceblue;
  text-align: center;
}

footer a {
  color: rgb(255, 0, 0);
}

#goTop {
  position: fixed;
  bottom: 2vw;
  right: 4vh;
  font-size: 2em;
}

/* ******************************************
                CLASSES
********************************************/

.banner {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0; 
  right: 0;
  background-color: white;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.12);
  line-height: 4em;
}

/* Mise en forme de la bannière */
.banner a {
  /* On a souvent recours à la valeur inline-block (l'élément est donc vu comme une boite et non comme du texte)
  sur les liens de navigation pour pouvoir leur appliquer des styles particuliers */
  display: inline-block;
  text-decoration: none;
  /*
  En donnant la même valeur à la hauteur de ligne que celle de la hauteur du bloc : centrage vertical
  Attention : cela ne marche que si le bloc contient une seule ligne
  */
}

.main-header {
  /* 60% de la hauteur du viewport */
  height : 58vh;
  color : white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  max-width : 1024px;
  margin : 0 auto;
  padding-right : 1em;
  padding-left : 1em;

}

/* Couleurs de fond */
.bg-light {
  /* Couleur exprimée en RGB() */
  background-color: rgb(255,255,255);
  /*
  Valeur avec transparence : RGBA()
  Transparence de couleur s'appuyant sur la notation rgb() :
  + Coefficient de transparence Alpha : 0.5 (Transparence du blanc de 50%)
  */
  background-color: rgba(255,255,255,0.5);
}

.bg-dark {
  background-color: white;
}

.home {
  background-image : url('../img/mediterranean-cuisine_1920.jpg');
  background-position : center top;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size : cover;
}

.rubrique {
  background-image: url('../img/mediterranean-cuisine_1920.jpg');
}

.site-logo {
  font-weight: 600;
  font-size: 1.5em;
}