:root {
    --color-default: darkgrey;
    --dark-color: rgb(31, 31, 31);
}

* {
    box-sizing: border-box;
}

/****************** GENERAL *********************/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Iceland';
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    text-align: center;
    /*padding: 0.5em calc((100% - 1200px ) / 2);*/
    padding: 20em 50em;
}



/***************************************************************
                            BANNER
****************************************************************/
.banner p {
    color: white;
}

.banner-nav {
    background-color: transparent;
    z-index: 250;
}

nav a {
    font-size: 2.5em;
    font-family: 'Iceland';
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin: 0.5em;
    color: white;
    border-radius: 1em;
    border: solid 2px transparent;
    transition: 250ms all linear;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border: solid 2px white;
    transform: scale(1.2);
    box-shadow: 0px 0px 9px 1px rgb(0, 255, 0);
}

.rgb-r:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border: solid 2px white;
    transform: scale(1.2);
    box-shadow: 0px 0px 9px 2px rgb(255, 0, 0);
}

.rgb-g:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border: solid 2px white;
    transform: scale(1.2);
    box-shadow: 0px 0px 9px 2px rgb(0, 255, 0);
}

.rgb-b:hover {
    background-color: rgba(255, 255, 255, 0.185);
    border: solid 2px white;
    transform: scale(1.2);
    box-shadow: 0px 0px 9px 2px rgb(0, 0, 255 );
}

/*******************Style du tp******************************/

.burger {
    display: block;  
    position: absolute;
    top: 1em;
    left: 1em;
    height: 2.4rem;
    width: 2.8rem;
    background-color: transparent;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding: 0;
    outline: 0;
    border: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .25s cubic-bezier(.17,.67,.89,1.4);
    transition-property: transform;
    will-change: transform;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    display: block;
    height: 5px;
    background: currentColor;
    transition: .25s;
    transition-property: transform, top;
    will-change: transform, top;
}

.burger::before {
    top: 0;
}

.burger::after {
    top: calc(100% - 4px);
}

.burger-open {
    z-index: 200;    
}

.burger-close {
    color: rgb(245, 245, 245);
}

.burger-close:target {
    z-index: 300;
}

.burger-close:target + #menu {
    display: block;
}

#menu {
    display: none;
    animation: slide 300ms linear;
}

@keyframes slide {
    0% {
        transform: translateX(-300%)
    }
    100%{
        transform: translateX(0%)
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -10;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #00ff00;
    top: 89%;
    left: 26%;
    animation-duration: 325s;
    animation-delay: -371s;
    transform-origin: 13vw 6vh;
    box-shadow: -2vmin 0 0.9703949222384025vmin currentColor;
}
.background span:nth-child(1) {
    color: #00ff00;
    top: 17%;
    left: 91%;
    animation-duration: 185s;
    animation-delay: -433s;
    transform-origin: -22vw -12vh;
    box-shadow: 2vmin 0 1.2014783307899604vmin currentColor;
}
.background span:nth-child(2) {
    color: #0000ff;
    top: 7%;
    left: 76%;
    animation-duration: 494s;
    animation-delay: -218s;
    transform-origin: 13vw 21vh;
    box-shadow: 2vmin 0 0.5463335604171136vmin currentColor;
}
.background span:nth-child(3) {
    color: #0000ff;
    top: 52%;
    left: 60%;
    animation-duration: 121s;
    animation-delay: -41s;
    transform-origin: -3vw -3vh;
    box-shadow: 2vmin 0 0.908878644396927vmin currentColor;
}
.background span:nth-child(4) {
    color: #0000ff;
    top: 95%;
    left: 33%;
    animation-duration: 322s;
    animation-delay: -6s;
    transform-origin: -13vw -17vh;
    box-shadow: -2vmin 0 0.7938899515943167vmin currentColor;
}
.background span:nth-child(5) {
    color: #0000ff;
    top: 81%;
    left: 21%;
    animation-duration: 297s;
    animation-delay: -240s;
    transform-origin: 20vw 4vh;
    box-shadow: 2vmin 0 0.26824205495242515vmin currentColor;
}
.background span:nth-child(6) {
    color: #0000ff;
    top: 26%;
    left: 79%;
    animation-duration: 42s;
    animation-delay: -488s;
    transform-origin: 1vw -12vh;
    box-shadow: 2vmin 0 0.5041447285996359vmin currentColor;
}
.background span:nth-child(7) {
    color: #ff0000;
    top: 92%;
    left: 58%;
    animation-duration: 239s;
    animation-delay: -267s;
    transform-origin: -12vw -5vh;
    box-shadow: -2vmin 0 0.5082377330075574vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff0000;
    top: 24%;
    left: 80%;
    animation-duration: 170s;
    animation-delay: -61s;
    transform-origin: -3vw 0vh;
    box-shadow: 2vmin 0 0.5770117367878786vmin currentColor;
}
.background span:nth-child(9) {
    color: #0000ff;
    top: 100%;
    left: 7%;
    animation-duration: 119s;
    animation-delay: -20s;
    transform-origin: 0vw -11vh;
    box-shadow: 2vmin 0 0.7841013323812334vmin currentColor;
}
.background span:nth-child(10) {
    color: #0000ff;
    top: 23%;
    left: 78%;
    animation-duration: 276s;
    animation-delay: -102s;
    transform-origin: 16vw 1vh;
    box-shadow: -2vmin 0 0.5601669693820437vmin currentColor;
}
.background span:nth-child(11) {
    color: #00ff00;
    top: 91%;
    left: 40%;
    animation-duration: 476s;
    animation-delay: -170s;
    transform-origin: -18vw 4vh;
    box-shadow: -2vmin 0 0.517272705729068vmin currentColor;
}
.background span:nth-child(12) {
    color: #00ff00;
    top: 61%;
    left: 92%;
    animation-duration: 472s;
    animation-delay: -12s;
    transform-origin: -1vw 9vh;
    box-shadow: -2vmin 0 0.5527487502590676vmin currentColor;
}
.background span:nth-child(13) {
    color: #0000ff;
    top: 68%;
    left: 94%;
    animation-duration: 145s;
    animation-delay: -251s;
    transform-origin: -19vw 15vh;
    box-shadow: 2vmin 0 0.5058856701206265vmin currentColor;
}
.background span:nth-child(14) {
    color: #00ff00;
    top: 78%;
    left: 8%;
    animation-duration: 391s;
    animation-delay: -435s;
    transform-origin: 10vw 19vh;
    box-shadow: -2vmin 0 0.8143666982149409vmin currentColor;
}
.background span:nth-child(15) {
    color: #0000ff;
    top: 37%;
    left: 70%;
    animation-duration: 44s;
    animation-delay: -197s;
    transform-origin: 2vw -12vh;
    box-shadow: 2vmin 0 0.9953208015112536vmin currentColor;
}
.background span:nth-child(16) {
    color: #00ff00;
    top: 98%;
    left: 96%;
    animation-duration: 107s;
    animation-delay: -4s;
    transform-origin: 9vw -13vh;
    box-shadow: -2vmin 0 1.210067558841899vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff0000;
    top: 1%;
    left: 17%;
    animation-duration: 143s;
    animation-delay: -383s;
    transform-origin: -12vw 25vh;
    box-shadow: 2vmin 0 1.0315165584528048vmin currentColor;
}
.background span:nth-child(18) {
    color: #ff0000;
    top: 49%;
    left: 63%;
    animation-duration: 76s;
    animation-delay: -234s;
    transform-origin: -5vw -6vh;
    box-shadow: -2vmin 0 1.207469557385373vmin currentColor;
}
.background span:nth-child(19) {
    color: #00ff00;
    top: 44%;
    left: 22%;
    animation-duration: 181s;
    animation-delay: -3s;
    transform-origin: -3vw -13vh;
    box-shadow: 2vmin 0 0.4158143208152345vmin currentColor;
}
.background span:nth-child(20) {
    color: #00ff00;
    top: 17%;
    left: 87%;
    animation-duration: 462s;
    animation-delay: -262s;
    transform-origin: 22vw 19vh;
    box-shadow: 2vmin 0 0.4492042079793257vmin currentColor;
}
.background span:nth-child(21) {
    color: #00ff00;
    top: 5%;
    left: 92%;
    animation-duration: 24s;
    animation-delay: -116s;
    transform-origin: 1vw 15vh;
    box-shadow: -2vmin 0 0.9955080692299931vmin currentColor;
}
.background span:nth-child(22) {
    color: #0000ff;
    top: 98%;
    left: 65%;
    animation-duration: 223s;
    animation-delay: -25s;
    transform-origin: 23vw -22vh;
    box-shadow: -2vmin 0 0.5187880673484553vmin currentColor;
}
.background span:nth-child(23) {
    color: #0000ff;
    top: 15%;
    left: 36%;
    animation-duration: 137s;
    animation-delay: -423s;
    transform-origin: 1vw 11vh;
    box-shadow: -2vmin 0 0.509152226989122vmin currentColor;
}
.background span:nth-child(24) {
    color: #ff0000;
    top: 12%;
    left: 14%;
    animation-duration: 461s;
    animation-delay: -33s;
    transform-origin: 14vw 2vh;
    box-shadow: 2vmin 0 0.9051874788501979vmin currentColor;
}
.background span:nth-child(25) {
    color: #00ff00;
    top: 77%;
    left: 72%;
    animation-duration: 344s;
    animation-delay: -37s;
    transform-origin: 8vw -19vh;
    box-shadow: 2vmin 0 0.5600758717467549vmin currentColor;
}
.background span:nth-child(26) {
    color: #0000ff;
    top: 31%;
    left: 6%;
    animation-duration: 151s;
    animation-delay: -339s;
    transform-origin: -14vw 0vh;
    box-shadow: -2vmin 0 0.5753747757618337vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff0000;
    top: 35%;
    left: 67%;
    animation-duration: 64s;
    animation-delay: -47s;
    transform-origin: 10vw 7vh;
    box-shadow: -2vmin 0 0.7677674940429955vmin currentColor;
}
.background span:nth-child(28) {
    color: #00ff00;
    top: 41%;
    left: 27%;
    animation-duration: 56s;
    animation-delay: -171s;
    transform-origin: 1vw 3vh;
    box-shadow: -2vmin 0 0.9207198190821972vmin currentColor;
}
.background span:nth-child(29) {
    color: #0000ff;
    top: 12%;
    left: 20%;
    animation-duration: 470s;
    animation-delay: -58s;
    transform-origin: 20vw 10vh;
    box-shadow: -2vmin 0 0.9089610556616694vmin currentColor;
}
.background span:nth-child(30) {
    color: #00ff00;
    top: 20%;
    left: 37%;
    animation-duration: 489s;
    animation-delay: -395s;
    transform-origin: -5vw 24vh;
    box-shadow: -2vmin 0 0.36455875989369946vmin currentColor;
}
.background span:nth-child(31) {
    color: #0000ff;
    top: 34%;
    left: 53%;
    animation-duration: 176s;
    animation-delay: -323s;
    transform-origin: -13vw -18vh;
    box-shadow: 2vmin 0 0.4389608101633262vmin currentColor;
}
.background span:nth-child(32) {
    color: #00ff00;
    top: 29%;
    left: 29%;
    animation-duration: 157s;
    animation-delay: -134s;
    transform-origin: 13vw 24vh;
    box-shadow: 2vmin 0 0.2678569850163426vmin currentColor;
}
.background span:nth-child(33) {
    color: #00ff00;
    top: 25%;
    left: 94%;
    animation-duration: 314s;
    animation-delay: -101s;
    transform-origin: -23vw 16vh;
    box-shadow: -2vmin 0 0.5023321529453106vmin currentColor;
}
.background span:nth-child(34) {
    color: #ff0000;
    top: 80%;
    left: 81%;
    animation-duration: 39s;
    animation-delay: -144s;
    transform-origin: 4vw 9vh;
    box-shadow: -2vmin 0 1.0911886605534533vmin currentColor;
}
.background span:nth-child(35) {
    color: #00ff00;
    top: 63%;
    left: 53%;
    animation-duration: 371s;
    animation-delay: -20s;
    transform-origin: 24vw -11vh;
    box-shadow: 2vmin 0 0.5902773041457046vmin currentColor;
}
.background span:nth-child(36) {
    color: #00ff00;
    top: 3%;
    left: 3%;
    animation-duration: 71s;
    animation-delay: -347s;
    transform-origin: -23vw -3vh;
    box-shadow: 2vmin 0 0.7217215447073857vmin currentColor;
}
.background span:nth-child(37) {
    color: #0000ff;
    top: 41%;
    left: 85%;
    animation-duration: 10s;
    animation-delay: -113s;
    transform-origin: 23vw 2vh;
    box-shadow: 2vmin 0 1.1887894282230675vmin currentColor;
}
.background span:nth-child(38) {
    color: #00ff00;
    top: 9%;
    left: 71%;
    animation-duration: 300s;
    animation-delay: -390s;
    transform-origin: 11vw -9vh;
    box-shadow: 2vmin 0 0.7391540443313567vmin currentColor;
}
.background span:nth-child(39) {
    color: #ff0000;
    top: 63%;
    left: 28%;
    animation-duration: 268s;
    animation-delay: -422s;
    transform-origin: 15vw -8vh;
    box-shadow: 2vmin 0 1.2378149500222915vmin currentColor;
}
.background span:nth-child(40) {
    color: #0000ff;
    top: 68%;
    left: 87%;
    animation-duration: 320s;
    animation-delay: -106s;
    transform-origin: 3vw -2vh;
    box-shadow: 2vmin 0 1.0407915365734939vmin currentColor;
}
.background span:nth-child(41) {
    color: #0000ff;
    top: 26%;
    left: 91%;
    animation-duration: 287s;
    animation-delay: -414s;
    transform-origin: 4vw -10vh;
    box-shadow: -2vmin 0 0.528177812288821vmin currentColor;
}
.background span:nth-child(42) {
    color: #00ff00;
    top: 69%;
    left: 88%;
    animation-duration: 62s;
    animation-delay: -120s;
    transform-origin: -5vw 0vh;
    box-shadow: 2vmin 0 0.9929739993574298vmin currentColor;
}
.background span:nth-child(43) {
    color: #0000ff;
    top: 68%;
    left: 59%;
    animation-duration: 259s;
    animation-delay: -39s;
    transform-origin: 1vw -18vh;
    box-shadow: -2vmin 0 0.5643844555529693vmin currentColor;
}
.background span:nth-child(44) {
    color: #ff0000;
    top: 91%;
    left: 59%;
    animation-duration: 255s;
    animation-delay: -4s;
    transform-origin: -16vw 15vh;
    box-shadow: -2vmin 0 1.2490500354913798vmin currentColor;
}
.background span:nth-child(45) {
    color: #0000ff;
    top: 51%;
    left: 52%;
    animation-duration: 294s;
    animation-delay: -246s;
    transform-origin: -7vw -1vh;
    box-shadow: 2vmin 0 0.4880669209227795vmin currentColor;
}
.background span:nth-child(46) {
    color: #00ff00;
    top: 30%;
    left: 39%;
    animation-duration: 65s;
    animation-delay: -401s;
    transform-origin: 19vw 16vh;
    box-shadow: 2vmin 0 0.8251859707428519vmin currentColor;
}
.background span:nth-child(47) {
    color: #00ff00;
    top: 8%;
    left: 60%;
    animation-duration: 469s;
    animation-delay: -431s;
    transform-origin: -17vw -10vh;
    box-shadow: -2vmin 0 0.5095224584766378vmin currentColor;
}
.background span:nth-child(48) {
    color: #ff0000;
    top: 29%;
    left: 87%;
    animation-duration: 298s;
    animation-delay: -342s;
    transform-origin: -2vw -8vh;
    box-shadow: -2vmin 0 0.42968238048422047vmin currentColor;
}
.background span:nth-child(49) {
    color: #0000ff;
    top: 55%;
    left: 28%;
    animation-duration: 119s;
    animation-delay: -456s;
    transform-origin: -1vw -8vh;
    box-shadow: -2vmin 0 0.7699160195186325vmin currentColor;
}
