#board {
    display: inline-block;
}

h2 {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 0.2em;
    border-radius: 0.2em;
}

.letter {
    width: 90px;
}

.nb {
    width: 24px;
    padding: 0;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.cell {
    height: 90px;
    width: 90px;
    padding: 0;
}
span {
    font-size: 4em;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.selected_pawn {
    color: rgb(45, 255, 25) !important;
}

.selected_pawn_false {
    color: rgb(255, 25, 25) !important;
}

#board > div:nth-child(odd) > .cell:nth-child(even),
#board > div:nth-child(even) > .cell:nth-child(odd) {
    background-color: rgb(59, 24, 0);
}

#board > div:nth-child(odd) > .cell:nth-child(odd),
#board > div:nth-child(even) > .cell:nth-child(even) {
    background-color: rgb(185, 155, 98);
}

.cell-movable {
    background-color: rgb(0, 255, 0) !important;
}
