/* ******************************************
                FOOTER
********************************************/

footer {
    padding : 1em;
    background-color: black;
    color : white;
    text-align: center;
  }
  
  #goTop {
    position : fixed;
    right : 1vw;
    bottom : 5vh;
    font-size : 2em;
  }
  
  .footer-article {
    background-color: rgb(151, 151, 151);
    border-radius: 0 0 0.25em 0.25em;
    text-align: left;
  }
  
  .footer-article p {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
  }
  
  .bouton {
    background-color: red;
    text-align: right;
    display: block;
    color: cornsilk;
    text-decoration: none;
    border-radius: 0.20em;
    padding: 0.5em;
  }
  
  .bouton::after {
    content: '        -->';
  }