/* *********** BANNIERE************** */

.banner {
  padding : 1rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-image: url('../../img/mediterranean-cuisine_728.jpg');
}
  
.banner a {
  text-decoration: none;
  color : #555;
}
  
.site-logo {
  display: inline-block;
  padding : 1rem;
  border : 3px solid rgb(255, 255, 255);
  font-size : 1.5em;
}
  
.banner .site-logo {
  color: white;
}
  
@media screen and (min-width : 768px) {
  .banner {
    background: url('../../img/mediterranean-cuisine_1024.jpg');
  }
}
  
@media screen and (min-width : 1024px) {
  .banner {
    background: linear-gradient(135deg , transparent 50%, white 50%),
    url('../../img/mediterranean-cuisine_1920.jpg');
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 300;
  }
}
  
/* *********** NAV *************** */
  
nav {
  display: none;
}

.banner nav a {
  display: block;
  padding : 1rem;
  text-transform: uppercase;
  transition: 250ms all linear;
}

.banner nav a:hover,
.banner nav a:focus,
.banner nav a:active {
  background : orange;
  color : white;
  border-top: solid 3px rgb(255, 102, 0);
  transform: scale(1.1);
  transform: skewX(360deg);
}

.banner nav a.active {
  background : orangeRed;
  color : white;
}

@media screen and (min-width : 1024px) {
  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner nav {
    display: flex;
  }
}