:root {
	--color-default: #222;
	--color-inverse: #ddd;
	--dark-color: #333;
	--light-color: #fff;
}

/* STYLE DE BASE */

* {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
/*	max-width: 1200px;
	margin: auto;*/
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto;
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-default);
}

img,
video {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

/* LAYOUT */

.banner {
	display: grid;
	align-items: center;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	gap: 1em 1rem;
	padding: 0.5em;
}

.site-logo {
	grid-column: 1;
	grid-row: 1;
	font-size: 1.3em;
}

.site-description {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
}

.banner-nav {
	grid-column: 2;
	grid-row: 1 / span 2;
	justify-self: end;
	text-transform: uppercase;
}

.banner,
.footer {
	display: sticky;
	padding: 0.5em calc((100% - 1200px) / 2);
	background: var(--dark-color);
	color: var(--color-inverse);
}

.banner a,
.footer a {
	text-decoration: none;
	color: var(--color-inverse);
}

.footer > * {
	margin: 0;
}

.footer {
	position: relative;
	text-align: center;
	padding: 0.5em;
}

#goTop {
	font-size: 2em;
	bottom: 2.2em;
	padding: 0 0.5rem;
	position: absolute;
	background: var(--dark-color);
}

/* STYLE DU TP */